{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title |e }}</h1>
<h2> Testing </h2>

<div class="chefs-list">
        {% if items %}
            <ul>
                {% for doc in items %}
                <li>
                    <h3>{{ doc.full_name }}</h3>
                    <p>Email: {{ doc.email_address }}</p>
                    <p>Phone: {{ doc.phone }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No chefs available at the moment.</p>
        {% endif %}
</div>

{% if not items %}
    <p>No chefs available at the moment.</p>
{% endif %}
{% endblock %}
